/* Reset de margens e padding para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 200px;
    overflow: hidden;
    transition: transform 0.2s;
}

.movie img {
    width: 100%;
    height: auto;
    display: block;
}

.movie-info {
    padding: 10px;
}

.movie-info h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.movie-info p {
    font-size: 0.9em;
    color: #666;
}

.movie:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

